.kanban_stage_container {
   display: inline;
}



.kanban_stage_container {
    width:100%;
    display: flex;
}
.kanban_stage_container > div {
    display: inline-block;
    zoom: 1;
}

.individual_div{
    margin: 10px;
    /* min-height: 97px; */
    background: #DCDCDC;
}
.kanban_controls {
    padding: 10px;
    background: grey;
}

.add {
    padding-bottom: 20px;
}